* {
  padding-top: 15px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-color: #070707;
  background-image: url("images/bg2_optimized.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 80vh;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

h1 {
  color: goldenrod;
}

#display-msg {
  font-style: italic;
}

#message-el {
  font-weight: bolder;
  font-size: large;
}

button {
  color: #000000;
  background: goldenrod;
  width: 150px;
  border-radius: 2px;
  padding: 5px 5px;
  font-weight: bold;
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 3px 3px 5px black;
}

.container {
  padding: 15px 15px;
  max-width: 80%;
  margin: 30px auto;
  background: rgba(97, 99, 100, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px 50px; /* Space inside the div */
  color: #fff; /* Text color */
  box-shadow: 3px 3px 5px black;
}

/*
 * This file contains the CSS styles for the Blackjack game's UI.
 *
 * The general layout is a flexbox container with a centered content area.
 * The content area is a div with the id "container" and is styled with the
 * following properties:
 * - padding: 15px on the sides, 30px on the top and bottom
 * - max-width: 80% of the parent container
 * - margin: 30px on the top and bottom, auto on the sides (so it will be centered)
 * - background: a semi-transparent black color with a blur effect
 * - border: a 2px solid black border with a 10px radius
 * - box-shadow: a 3px 3px 5px black shadow
 *
 * The text inside the container is white with a bold font and text-shadow.
 *
 * The buttons are styled with the following properties:
 * - color: black
 * - background: goldenrod
 * - width: 150px
 * - border-radius: 2px
 * - padding: 5px on the sides, 5px on the top and bottom
 * - font-weight: bold
 * - border: none
 * - margin: 2px on the top and bottom
 * - box-shadow: 3px 3px 5px black
 */
