body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("images/table.jpg");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#display-msg {
  font-style: italic;
}

#message-el {
  font-weight: bolder;
  font-size: large;
}

button {
  color: #8d0202;
  background: goldenrod;
  width: 150px;
  padding: ;
  border-radius: 2px;
  padding: 5px 0;
  font-weight: bold;
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
}
